# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.


.DS_Store
*.iml
.ijwb/
bazel-bin
bazel-out
bazel-typedb-dependencies
bazel-testlogs
bazel-test
library/crates/cargo
tool/bazelcache/.terraform/*
target
Cargo.lock
Cargo.toml
!library/crates/Cargo.lock
!library/crates/Cargo.toml
