.DS_Store
*.iml
.ijwb/
bazel-bin
bazel-out
bazel-dependencies
bazel-testlogs
tool/bazelcache/.terraform/*
target

builder/grpc/rust/Cargo.lock
builder/grpc/rust/Cargo.toml

library/ortools/rust/Cargo.lock
library/ortools/rust/Cargo.toml
