#
# GRAKN.AI - THE KNOWLEDGE GRAPH
# Copyright (C) 2018 Grakn Labs Ltd
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

version: 2.1
commands:
  install-bazel-linux-rbe:
    steps:
      - run: bash ./ci/apt-wait.sh
      - run: bash ./ci/install-bazel-linux.sh
      - run: bash ./ci/install-bazel-rbe.sh
  
  run-bazel-rbe:
    parameters:
      command:
          type: string
    steps:
      - run: bazel run @graknlabs_build_tools//ci:run-bazel-rbe -- << parameters.command >>

jobs:
  build:
    machine: true
    working_directory: ~/build-tools
    steps:
      - checkout
      - install-bazel-linux-rbe
      - run-bazel-rbe:
          command: bazel build //...

  sync-dependencies:
    machine: true
    working_directory: ~/build-tools
    steps:
      - checkout
      - install-bazel-linux-rbe
      - run: |
          export SYNC_DEPENDENCIES_TOKEN=$REPO_GITHUB_TOKEN
          bazel run //ci:sync-dependencies -- \
          --source build-tools@$CIRCLE_SHA1 \
          --targets \
          graql:master grakn:master grakn-kgms:master protocol:master \
          client-java:master client-python:master client-nodejs:master \
          benchmark:master biograkn:master workbase:master \
          docs:master examples:master kglib:master

workflows:
  build-tools:
    jobs:
      - build
      - sync-dependencies:
          filters:
            branches:
              only: master
          requires:
            - build
